<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title><%= title %></title>

    <style>
      .zindex {
        z-index: 1;
      }

      .body-middle {
        height: 100vh;
        display: flex;
        align-items: center;
        width: 100%;
      }

      .content-middle {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
      }

      .outline-text {
        outline: -webkit-focus-ring-color auto 5px;
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 5px;
      }

      .more-detail {
        position: absolute;
        right: 5%;
        top: 30%;
      }

      .scope-des {
        padding-left: 20px;
      }

      /* auto-fit windows-size */
      @media (min-width: 992px) {
        .col-md-6 {
          width: 50%;
        }

        .table-container {
          display: inline-flex;
        }

        .middle-column {
          display: grid;
        }
      }

      @media (min-width: 768px) {
        .column-consent {
          width: 60%;
        }
      }

      .collapsed > .card-header > .more-detail {
        transform: rotate(180deg);
      }

      .welcome-page {
        background-image: url(/static/service_bg.png);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-color: #666;
        background-size: cover;
      }

      .opacity-background {
        background: rgba(77, 149, 212, 0.2);
      }

      .border-round {
        border-radius: 1.15rem !important;
      }
    </style>
  </head>

  <body>
    <!-- wrappper container wraps whole site -->
    <div class="wrapper">
      <!-- container fro cookie notification-->
      <div
        id="cookie-bar"
        class="cookie"
        data-cookie-bar="Diese Webseite verwendet Cookies, um Ihnen ein angenehmeres Surfen zu ermöglichen. <a href='#'>Mehr Infos</a>"
      ></div>
      <!-- container for toast messages -->
      <div id="toast-container"></div>
      <!-- header container nav items, logo etc. -->
      <div class="header">
        <!-- container setting width and padding for navbar -->
        <div class="header__container">
          <!-- navbar header container logos and nav icons for profile, search and menu -->
          <div class="navbar-header">
            <div class="navbar-brand">
              <img
                class="logo"
                src="/static/logo.svg"
                alt="Gesundheitskasse"
                width="450"
                height="75"
              />
              <img
                class="logo--small"
                src="/static/logo_small.svg"
                alt="Gesundheitskasse"
                width="35"
                height="50"
              />
            </div>

            <div class="navbar-list d-print-none">
              <% if (locals.account && locals.account.email) { %>
              <div class="navbar-list__item">
                <div class="navbar-text text-warning">
                  <%= locals.account.email %>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <!-- END navbar header -->
        </div>
        <!-- END container -->
      </div>
      <!-- END header container -->

      <!-- main class wraps all content from breadrumbs to footer -->
      <div class="main" id="main">
        <div class="container__main container__xs"><%- body %></div>
      </div>
      <!-- END main -->

      <!-- print only footer -->
      <div class="container__main print-only">
        <div class="footer__print">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <p>
                    Pharmazeutische Gehaltskasse für Österreich<br />
                    Spitalgasse 31<br />
                    1090 Wien
                  </p>
                </div>
                <div class="col-6">
                  Telefon: +43 (1) 40414-200<br />
                  Telefax: +43 (1) 40414-249<br />
                  e-mail: office@gk.or.at
                </div>
              </div>
            </div>
            <div class="col-6">
              <p class="text-right">
                © Pharmazeutische Gehaltskasse für Österreich
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END print only footer -->
      <!-- footer container copyright and subnav -->
      <div class="footer d-print-none">
        <div class="section__small footer__section">
          <div class="footer__container container__main">
            <div class="nav-footer">
              <ul class="nav-footer__nav">
                <li class="nav-footer__item">
                  <a
                    href="https://www.gehaltskasse.at/internet/ghk/gk.nsf/content.xsp?Seite-Impressum-Offenlegung"
                    target="_blank"
                    >Impressum</a
                  >
                </li>
                <li class="nav-footer__item">
                  <a
                    href="https://www.gehaltskasse.at/internet/ghk/gk.nsf/content.xsp?Seite-Privacy-Statement-fuer-die-Pharmazeutische-Gehaltskasse"
                    target="_blank"
                    >Privacy statement gemäß DSGVO</a
                  >
                </li>
                <li class="nav-footer__item">
                  <a href="mailto:office@gk.or.at">Kontakt</a>
                </li>
              </ul>
            </div>
            <div class="copyright">
              © Pharmazeutische Gehaltskasse für Österreich
            </div>
          </div>
        </div>
      </div>
      <!-- END footer -->
    </div>

    <div class="global-overlay js-global-overlay is--hidden"></div>
    <!-- END wrapper -->
  </body>
</html>
