<div class="login login--mt" style="margin-bottom: 4rem">
  <div class="login__body">
    <div class="container content-middle">
      <div
        class="row clearfix table-container"
        style="margin-left: 0px; justify-content: center; width: 100%"
      >
        <div
          style="
            width: 100%;
            display: flex;
            position: relative;
            background-color: transparent;
            justify-content: center;
          "
          class="text-danger"
        >
          <svg
            class="feather feather-alert-triangle jxshSx sc-dnqmqq"
            xmlns="http://www.w3.org/2000/svg"
            width="74"
            height="74"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.0"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
            data-reactid="56"
          >
            <path
              d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
            ></path>
            <line x1="12" y1="9" x2="12" y2="13"></line>
            <line x1="12" y1="17" x2="12" y2="17"></line>
          </svg>
        </div>

        <div
          class="alert"
          contenteditable="true"
          style="
            border-color: #dc3545;
            border-radius: 0.85rem;
            background-color: none;
          "
        >
          <h4>Irgendwas ist schiefgelaufen...Server:002</h4>
          <b>Error:</b> <%=error.error%><br />
          <b>Details:</b> <%=error.error_description%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="test/javascript">
  document.title = '<%=error.error%>';
</script>
