<div class="login login--mt" style="margin-bottom: 4rem">
  <div class="login__body">
    <div class="container content-middle">
      <div class="row clearfix table-container" style="margin-left:0px; justify-content: center; width:100%;">
        <div class="column ">
          <%# import the scope component %>
          <%- include('scopeComponent', {
        client,
        scopes,
      }); %>
          </br>
          <%# import the interaction component %>
          <%- include('interactionComponent', {
        uuid,
        rejectUrl,
        account,
      }); %>
        </div>
      </div>
    </div>
  </div>
</div>