<form
  autocomplete="off"
  action="/interaction/<%= uuid %>/confirm"
  method="post"
>
  <input type="hidden" name="uuid" value="<%= uuid %>" />
  <button
    type="submit"
    class="btn btn-block btn-default btn-primary btn-group-vertical"
    style="margin-bottom: 8px; align-items: center"
  >
    Fortfahren
  </button>
  <a
    href="<%= locals.rejectUrl %>"
    class="btn-group-vertical text-success"
    style="display: block; text-align: center"
    >[ Abbrechen ]</a
  >
</form>
