<!-- standard login div, add mt modifier for margin top-->
<div class="login login--mt" style="margin-bottom: 4rem">
  <div class="login__body">
    <div class="card card--variant">
      <%# import the login form component %>
        <%- include('loginComponent', { uuid, rejectUrl, }); %>

          <div class="login__footer">
            <img class="login__img" src="/static/apothekerkammer.png" alt="Österreichische Apothekerkammer"
              width="250" />
            <%# import the scope component %>
              <%- include('scopeComponent', { client, scopes, }); %>
          </div>
    </div>
  </div>
</div>