<form class="login__form" autocomplete="off" action="/interaction/<%= uuid %>/login" method="post">
  <input type="hidden" name="uuid" value="<%= uuid %>" />
  <div class="form-group">
    <label class="login__label--custom" for="login">Benutzername (P-Nummer)</label>
    <input required class="form-control login__input" id="login" type="text" name="login"
      aria-describedby="emailHelp" />
  </div>
  <div class="form-group">
    <label class="login__label--custom" for="password">Kennwort</label>
    <input required class="form-control login__input" id="password" type="password" name="password" />
  </div>
  <div class="form-group is-hidden">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="loggedin" name="remember" value="yes" checked="no">
      <label class="custom-control-label" for="loggedin">Eingeloggt bleiben</label>
    </div>
  </div>
  <div class="t-center">
    <button type="submit" class="btn btn-default-border login__button">Identifizieren</button>
    <a href="https://www.gehaltskasse.at/internet/ghk/gk.nsf/restorePasswordP.xsp" style="display: block; text-align: center" class="text-success">Kennwort vergessen / entsperren</a>
  </div>
</form>