<!-- standard login div, add mt modifier for margin top-->
<div class="login login--mt" style="margin-bottom: 4rem">
  <div class="login__body">
    <div class="card card--variant" style="padding-top: 2rem;">
      <%# import the login form component %>
        <%- include('loginComponent_ghk', { uuid, rejectUrl, }); %>

          <div class="login__footer">
          </div>
    </div>
  </div>
</div>