<script>
  function logout() {
    var form = document.getElementById('op.logoutForm');
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'logout';
    input.value = 'yes';
    form.appendChild(input);
    form.submit();
  }
</script>
<%- form %>
<!-- standard login div, add mt modifier for margin top-->
<div class="login login--mt" style="margin-bottom: 4rem">
  <div class="login__body">
    <main role="main" class="zindex">
      <section class="jumbotron text-center opacity-background border-round">
        <div class="container">
          <h1 class="jumbotron-heading">
            <!-- fill: salmon; -->
            <svg
              style="fill: #ffc107"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="64px"
              height="64px"
              viewBox="0 0 64 64"
              enable-background="new 0 0 64 64"
              xml:space="preserve"
            >
              <g id="WARNING_1_" enable-background="new">
                <g id="WARNING">
                  <g>
                    <path
                      d="M63.562,53.463l0.018-0.011l-29-47l-0.018,0.01C34.039,5.59,33.092,5,32,5c-1.052,0-1.973,0.543-2.509,1.362l-0.017-0.01
            l-29,47l0.017,0.01C0.183,53.834,0,54.395,0,55c0,1.657,1.343,3,3,3c0.009,0,0.018-0.003,0.027-0.003v0.03h58v-0.03
            C62.671,57.982,64,56.648,64,55C64,54.436,63.835,53.914,63.562,53.463z M32,52c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4
            S34.209,52,32,52z M36,37c0,2.209-1.791,4-4,4s-4-1.791-4-4V22c0-2.209,1.791-4,4-4s4,1.791,4,4V37z"
                    />
                  </g>
                </g>
              </g>
            </svg>
          </h1>
          <p class="lead text-muted">
            Möchten Sie sich auch vom IAM-Dienst abmelden?
          </p>
          <p>
            <button onclick="logout()" class="btn btn-primary my-2">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ja
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
            <button
              onclick="document.getElementById('op.logoutForm').submit()"
              class="btn btn-secondary my-2"
            >
              Bitte nicht!
            </button>
          </p>
        </div>
      </section>
    </main>
  </div>
</div>
