<div class="alert alert-success alert-dismissable mt-2 mb-2">
  <span class="form-text">
    Die Anwendung <strong><%= client.clientName %></strong> möchte folgende Daten verwenden:
  </span>
</div>

<div class="card-info" id="card-915134">

  <% scopes.forEach((scope, index) => { %>
  <p scopeId=" <%- scope.id %> " scopeName=" <%- scope.name %> ">

    - <%- scope.grantMessage %>

  </p>
  <% }); %>

</div>
</br>